* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    background: #f0f0f0;
}

.first-row {
    display: flex;
    justify-content: space-around;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 20px;
  width: 300px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;

}

button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 16px;
}

.character {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    text-align: center;
    width: 150px;
}

.character img {
    width: 100%;
    border-radius: 8px;
}

